{% extends 'inh_templates/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<body>
    <!-- ***** Search Form Area ***** -->
    <div class="dorne-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-close-btn" id="closeBtn">
                        <i class="pe-7s-close-circle" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get">
                        <input type="search" name="caviarSearch" id="search" placeholder="Search Your Desire Destinations or Events">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html"><img src="{% static 'img/core-img/logo.png'%}" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <!-- Nav -->
                        <div class="collapse navbar-collapse" id="dorneNav">
                            <ul class="navbar-nav mr-auto" id="dorneMenu">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="index.html">Home</a>
                                        <a class="dropdown-item" href="explore.html">Explore</a>
                                        <a class="dropdown-item" href="listing.html">Listing</a>
                                        <a class="dropdown-item" href="single-listing.html">Single Listing</a>
                                        <a class="dropdown-item" href="contact.html">Contact</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listings <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <a class="dropdown-item" href="index.html">Home</a>
                                        <a class="dropdown-item" href="explore.html">Explore</a>
                                        <a class="dropdown-item" href="listing.html">Listing</a>
                                        <a class="dropdown-item" href="single-listing.html">Single Listing</a>
                                        <a class="dropdown-item" href="contact.html">Contact</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                            <!-- Search btn -->
                            <div class="dorne-search-btn">
                                <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
                            </div>
                            <!-- Signin btn -->
                            <div class="dorne-signin-btn">
                                <a href="#">Sign in  or Register</a>
                            </div>
                            <!-- Add listings btn -->
                            <div class="dorne-add-listings-btn">
                                <a href="#" class="btn dorne-btn">+ Add Listings</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay">
    </div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- Explore Area -->
    <section class="dorne-explore-area">
        <!-- Explore Search Area -->
        <div class="explore-search-area">
            <!-- Explore Search Form -->
            <div class="explore-search-form">
                <h6>Choisissez votre destination</h6>
                <!-- Tabs -->
                <div class="nav nav-tabs" id="heroTab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-events" aria-selected="false">Voyage</a>
                    <a class="nav-item nav-link " id="nav-transport-tab" data-toggle="tab" href="#nav-transport" role="tab" aria-controls="nav-transport" aria-selected="true">Transport</a>
                    <a class="nav-item nav-link" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">Hotel</a>
                </div>
                <!-- Tabs Content -->
            <!-- *********** Form voyage *********** -->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <input type="text" class="custom-select date" placeholder="Depart" id="depart" name="depart">
                            <input type="text" class="custom-select date" placeholder="Destination" id="destination" name="destination" onblur="choisir_hotel()">
                            <input type="text" class="custom-select date" placeholder="Date debut" id="date_debut" name="date_debut" onfocus="(this.type='date')" />
                            <input type="text" class="custom-select date" placeholder="Date fin" id="date_fin" name="date_fin" onfocus="(this.type='date')" />
                            
                           <!-- <button class="btn dorne-btn mt-50 bg-white text-dark" onclick="go_to_transport()"><i class=" pr-2" aria-hidden="true"> </i> Suivant</button>

                         </form>-->
                    </div>

            <!-- *********** Form Transport *********** -->
                    <div class="tab-pane fade" id="nav-transport" role="tabpanel" aria-labelledby="nav-transport-tab">
                        <!--<form action="#" method="post">
                            {% csrf_token %}-->
                            <select class="custom-select extra-style" id="transport" onchange="choisir_transport()">
                                <option selected value="">choisissez moyen de transport </option>
                                <option value="Avion">Avion</option>
                                <option value="Auto Car">Auto car</option>
                                <option value="Train">Train</option>
                                <option value="Bateau">Bateau</option>
                            </select>   
                            <select class="custom-select extra-style" name="transport" id="entreprise">
                                <option selected value="" >Avec quelle entreprise  </option>
                            </select>       
                            <div>
                                <div class="col-12 col-xl-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Guide</span>
                                    </label>
                                </div>
                            </div>               
                            <!--  <button  class="btn dorne-btn mt-50 bg-white text-dark" ><i class=" pr-2" aria-hidden="true"> > </i> Suivant</button>

                      </form>-->
                    </div>

        <!-- *********** Form Hotel *********** -->
                    <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
                       <!-- <form method="post">-->
                            <select class="custom-select extra-style" name="hotel" id="hotel" >
                                <option value="" selected>choisissez votre hotel</option>
                            </select>            
                            <div>
                                <div class="col-12 col-xl-6">
                                    <label class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Restauration</span>
                                    </label>
                                </div>
                                
                            </div>               
                            <button type="submit" class="btn dorne-btn mt-50 bg-white text-dark" >Suivant</button>

                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
    </section>
</body>
<script>
    // Adaptation des informations de transport : 
    // netoyer select balise avant de la remplir
    function nettoyer_select( select ){
        for(var i = select.options.length - 1 ; i > 0 ; i-- )
        {
            menu.remove(i);
        }
    }


    var data = JSON.parse("{{transports|escapejs}}");
    var choice = [];
    function choisir_transport(){
        type = document.getElementById('transport').value;
        
        choice = data.filter(tran => {
            return tran.type === type
        })

        menu = document.getElementById('entreprise')
        nettoyer_select(menu);
        choice.forEach(element => {
            const option = document.createElement('option');
            const optionText = document.createTextNode(element.societe);
            option.appendChild(optionText);
            menu.appendChild(option);
            
        }); }
        // *****************************************************************
        var dataI = JSON.parse("{{hotels|escapejs}}") ; 
        var choiceI = [];

        function choisir_hotel(){
            destination = document.getElementById('destination').value;
            console.log(destination);
            choiceI = dataI.filter(hot => {
            return String(hot.localisation).toLowerCase().includes(destination.toLowerCase())
        })
            menu = document.getElementById('hotel')
            nettoyer_select(menu);
            choiceI.forEach(element => {
                const option = document.createElement('option');
                const optionText = document.createTextNode(element.nom);
                option.appendChild(optionText);
                menu.appendChild(option);
        });
        }
     
    
</script>

{% endblock content %}

</html>